html {
    font-family: Arial, Helvetica, sans-serif;
}

.main-title {
    text-align: center;
}

.body-div {
    text-align: center;
}

.btn {
    border: 0;
    background-color: #00aaff;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 20px;
}

.btn:hover {
    opacity: 0.7;
}

.marquee-in-body:hover {
    color: #00aaff;
}